h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
body{
  background: #172031;
}
.box{
  background-color: #fff;
  width: 500px;
  margin: 20px;
  box-shadow: 0 0 5px #172050;
}
.title{
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
}

.fields{
padding: 10px 20px;
}

.fields>label{
  width: 200px;
  display: inline-block;
  font-size: 20px;
}

.btn{
  background-color: #172031;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  width: 30%;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 35%;
  margin-bottom: 10px;
  margin-top: 10px;


